.insert-above:before {
  height: 2px;
  background-color: blue;
  content: "";
  margin-top: -1px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.insert-below:after {
  height: 2px;
  background-color: blue;
  content: "";
  margin-top: 55px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.container, .container .row  {
  --bs-gutter-x: 2rem;
}

.container-gx-0, .container-gx-0 .row  {
  --bs-gutter-x: 0;
}
