body {
  overflow-x: hidden;
}

.container, .container .row  {
  --bs-gutter-x: 2rem;
}

.container-gx-0, .container-gx-0 .row  {
  --bs-gutter-x: 0;
}

.task {
  position: relative;
}

.insert-above:before {
  height: 2px;
  background-color: var(--bs-primary);
  content: "";
  margin-top: -1px;
  position: absolute;
  left: 1rem;
  right: 1rem;
  z-index: 10;
}

.insert-below:after {
  height: 2px;
  background-color: var(--bs-primary);
  content: "";
  margin-top: -1px;
  position: absolute;
  left: 1rem;
  right: 1rem;
  z-index: 10;
}

.insert-below2:before {
  height: 2px;
  background-color: var(--bs-primary);
  content: "";
  margin-top: -1px;
  position: absolute;
  left: 1rem;
  right: 1rem;
  z-index: 10;
}

.insert-as-subtask:before, .insert-as-subtask:after {
  left: 56px;
}